### Find business days b/w create_date and resolved_date excluding weekends and holidays.

In [1]:
import pandas as pd
import numpy as np
import math

tickets = pd.DataFrame({
    'ticket_id':[1,2,3],
    'create_date':['2022-08-01','2022-08-01','2022-08-01'],
    'resolved_date':['2022-08-03','2022-08-12','2022-08-16']
})

tickets.create_date = pd.to_datetime(tickets.create_date)
tickets.resolved_date = pd.to_datetime(tickets.resolved_date)

holidays = pd.DataFrame({
    'holiday_date':['2022-08-11','2022-08-15'],
    'reason':['Rakhi','Independence day']
})

holidays.holiday_date = pd.to_datetime(holidays.holiday_date)

In [2]:
tickets

   ticket_id create_date resolved_date
0          1  2022-08-01    2022-08-03
1          2  2022-08-01    2022-08-12
2          3  2022-08-01    2022-08-16

In [3]:
holidays

  holiday_date            reason
0   2022-08-11             Rakhi
1   2022-08-15  Independence day

In [4]:
holidays['holiday_date'].between('2022-08-01','2022-08-03')

0    False
1    False
Name: holiday_date, dtype: bool

In [5]:
tickets['holiday_count'] = tickets.apply(lambda df: holidays['holiday_date'][holidays['holiday_date'].between(df['create_date'],df['resolved_date'])], axis=1).count(axis=1)
tickets

   ticket_id create_date resolved_date  holiday_count
0          1  2022-08-01    2022-08-03              0
1          2  2022-08-01    2022-08-12              1
2          3  2022-08-01    2022-08-16              2

In [5]:
tickets['diff_weeks'] = pd.Series((tickets['resolved_date'] - tickets['create_date']) / np.timedelta64(1, 'W')).apply(math.floor)
tickets['diff_days'] = pd.Series((tickets['resolved_date'] - tickets['create_date']) / np.timedelta64(1, 'D')).apply(math.floor)
tickets

   ticket_id create_date resolved_date  holiday_count  diff_weeks  diff_days
0          1  2022-08-01    2022-08-03              0           0          2
1          2  2022-08-01    2022-08-12              1           1         11
2          3  2022-08-01    2022-08-16              2           2         15

In [6]:
tickets = tickets.assign(business_days = tickets['diff_days']-2*tickets['diff_weeks']-tickets['holiday_count'])
tickets[['ticket_id','create_date','resolved_date','business_days']]

   ticket_id create_date resolved_date  business_days
0          1  2022-08-01    2022-08-03              2
1          2  2022-08-01    2022-08-12              8
2          3  2022-08-01    2022-08-16              9