### Hire people within budget  
A certain company has to hire candidates within a budget of $50000, they prefer to hire seniors and only if the budget allows thay hire juniors.  
Say  
For the 1st test case  
id 4 and 6 are considered who are seniors as their total budget(30000) falls under 50000  
and with remaining 20000 they hire the 3 juniors as they all fit in the remaining budget

In [1]:
import pandas as pd
import numpy as np

In [77]:
case1 = pd.read_csv('./data/case_1.csv')
case1

   id positions  salary
0   1    junior    5000
1   2    junior    7000
2   3    junior    7000
3   4    senior   10000
4   5    senior   30000
5   6    senior   20000

In [92]:
def find_suitable_candidates(test_case,budget):
    senior_case = test_case.loc[test_case['positions']=='senior'].sort_values('salary').assign(cum_salary = lambda df: df['salary'].cumsum()).\
        assign(over_budget = lambda df: df['cum_salary']>budget)
    senior_case = senior_case.loc[senior_case['over_budget']==False]
    remaining_budget = budget-senior_case.loc[senior_case['over_budget']==False,'cum_salary'].max()
    junior_case = test_case.loc[test_case['positions']=='junior'].sort_values('salary').assign(cum_salary = lambda df: df['salary'].cumsum()).\
        assign(over_budget = lambda df: df['cum_salary']>remaining_budget)
    junior_case = junior_case.loc[junior_case['over_budget']==False]
    concated_data = pd.concat([junior_case,senior_case])
    concated_data = concated_data[['id','positions' ,'salary']]
    res = pd.DataFrame({
    'Seniors':[len(senior_case)],
    'juniors':[len(junior_case)]
    })
    return concated_data,res

In [93]:
merged_data, res = find_suitable_candidates(case1,50000)
print(merged_data,'\n', res)

   id positions  salary
0   1    junior    5000
1   2    junior    7000
2   3    junior    7000
3   4    senior   10000
5   6    senior   20000
    Seniors  juniors
0        2        3

In [94]:
case2 = pd.read_csv('./data/case_2.csv')
merged_data, res = find_suitable_candidates(case2,50000)
print(merged_data,'\n', res)

   id positions  salary
1  30    senior   15000
2  40    senior   30000
    Seniors  juniors
0        2        0

In [95]:
case3 = pd.read_csv('./data/case_3.csv')
merged_data, res = find_suitable_candidates(case3,50000)
print(merged_data,'\n', res)

   id positions  salary
0   1    junior   15000
1   2    junior   15000
2   3    junior   20000
    Seniors  juniors
0        0        3

In [96]:
case4 = pd.read_csv('./data/case_4.csv')
merged_data, res = find_suitable_candidates(case4,50000)
print(merged_data,'\n', res)

   id positions  salary
0  10    junior   10000
3  40    junior   10000
1  20    senior   15000
4  50    senior   15000
    Seniors  juniors
0        2        2