### find the patients present inside the hospital

In [1]:
import pandas as pd
import numpy as np

In [2]:
hospital = pd.read_csv('./data/hospital.csv')

In [3]:
hospital

    emp_id action                     time
0        1     in  2019-12-22 09:00:00.000
1        1    out  2019-12-22 09:15:00.000
2        2     in  2019-12-22 09:00:00.000
3        2    out  2019-12-22 09:15:00.000
4        2     in  2019-12-22 09:30:00.000
5        3    out  2019-12-22 09:00:00.000
6        3     in  2019-12-22 09:15:00.000
7        3    out  2019-12-22 09:30:00.000
8        3     in  2019-12-22 09:45:00.000
9        4     in  2019-12-22 09:45:00.000
10       5    out  2019-12-22 09:40:00.000

In [20]:
hospital.sort_values(['emp_id','time']).groupby('emp_id').nth(-1).pipe(lambda df: df.loc[df['action']=='in'])['emp_id'].reset_index(drop=True).to_frame()

   emp_id
0       2
1       3
2       4