### Find number of searches for each room type

In [1]:
import pandas as pd
import numpy as np

In [2]:
airbnb_searches = pd.DataFrame({
    'user_id':[1,2,3,4],
    'date_searched':['2022-01-01','2022-01-02','2022-01-02','2022-01-03'],
    'filter_room_types':['entire home,private room','entire home,shared room','private room,shared room','private room']
})

In [3]:
airbnb_searches

   user_id date_searched         filter_room_types
0        1    2022-01-01  entire home,private room
1        2    2022-01-02   entire home,shared room
2        3    2022-01-02  private room,shared room
3        4    2022-01-03              private room

In [4]:
airbnb_searches['rooms'] = airbnb_searches['filter_room_types'].str.split(',')

In [5]:
airbnb_searches

,user_id,date_searched,filter_room_types,rooms
0,1,2022-01-01,"entire home,private room","[entire home, private room]"
1,2,2022-01-02,"entire home,shared room","[entire home, shared room]"
2,3,2022-01-02,"private room,shared room","[private room, shared room]"
3,4,2022-01-03,private room,[private room]

In [21]:
airbnb_searches.explode('rooms').groupby('rooms')['rooms'].count().rename('count').sort_values(ascending=False).to_frame().reset_index()

          rooms  count
0  private room      3
1   entire home      2
2   shared room      2