### Adobe revenue for non photoshop products, for customers who bought a photoshop product

In [1]:
import pandas as pd
import numpy as np

In [2]:
adobe_revenue = pd.read_csv('./data/adobe_transactions.csv')

In [3]:
adobe_revenue

   customer_id        product  revenue
0          123      Photoshop       50
1          123    Premier Pro      100
2          123  After Effects       50
3          234    Illustrator      200
4          234    Premier Pro      100

In [26]:
adobe_revenue['isPhotoshop'] = adobe_revenue['product'].str.contains('photoshop',case=False)
only_id = adobe_revenue.loc[adobe_revenue['isPhotoshop'],'customer_id']
only_id

0    123
Name: customer_id, dtype: int64

In [44]:
def cus_filter(df):
    return df.apply(lambda df: 0 if df['isPhotoshop']!=False else df['revenue'],axis=1)
adobe_revenue.loc[adobe_revenue['customer_id'].isin(only_id)].assign(sum = lambda df: cus_filter(df)).groupby('customer_id')['sum'].sum('sum').to_frame().reset_index()

   customer_id  sum
0          123  150