### Find the number of users who purchased the same product on two or more different days
### i.e not on the same day

In [1]:
import pandas as pd
import numpy as np

In [5]:
purchases = pd.read_csv('./data/purchases.csv',parse_dates=['purchase_date'])

In [11]:
purchases['date'] = purchases['purchase_date'].dt.date
purchases

   user_id  product_id  quantity       purchase_date        date
0      536        3223         6 2022-01-11 12:33:44  2022-01-11
1      827        3585        35 2022-02-20 14:05:26  2022-02-20
2      536        3223         5 2022-03-02 09:33:28  2022-03-02
3      536        1435        10 2022-03-02 08:40:00  2022-03-02
4      827        2452        45 2022-04-09 00:00:00  2022-04-09
5      333        1122         9 2022-02-06 01:00:00  2022-02-06
6      333        1122        10 2022-02-06 02:00:00  2022-02-06
7      333        1122         8 2022-02-06 14:56:03  2022-02-06

In [16]:
purchases.groupby(['user_id','product_id']).filter(lambda grp: grp['date'].nunique()>=2)['user_id'].nunique()

1